<% @title="Surfing// Redefined: Post" %>

<h2 class="title text-info font-italic"><%= @post.title %></h2>
<h5 class="text-secondary"><%= @post.content %></h5>   

<hr>
<div class="btn-group">
<%= link_to "Edit", edit_post_path(@post), :class => "btn btn-success"%>



<%= link_to "Delete", post_path(@post), 
 method: :delete,
 data: {confirm: "Are you sure you want to delete this post?"},
:class => "btn btn-danger" %>
</div>


<hr>



<h3>Comments:</h3>
<br>

<% @post.comments.each do |comment| %>
    <div class="container p-3 mb-2 bg-light text-secondary d-flex p-2">
        <p><span class = "text-success"><strong><%= comment.username%>:&nbsp<strong></span>
        <span class = "text-secondary"><%=comment.body%></span>
        <%= link_to "   (x)", [comment.post, comment],
                        method: :delete,
                        data: {confirm: "Are you sure you want to delete this comment?"},
                        class:'text-danger' %> 
        </p>

    </div>
<% end %>



<h3>Add Comment</h3>
<%= form_for ([@post, @post.comments.build]) do |f| %>
    <p>
        <%= f.label :username %>:
        <%= f.text_field :username, {:class => "form-control"} %><br />
    </p>      
 
    <p>
        <%= f.label :body %>:
        <%= f.text_area :body, {:class => "form-control"} %><br />
    </p> 
    <p>
        <%= f.submit({:class => "btn btn-primary"})%>
    </p>
<% end %>



